<h2>Shopping Cart</h2>

<div *ngIf="cartItems.length > 0">
  <ul>
    <li *ngFor="let item of cartItems; let i = index" class="list">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{ item.product.name }}</mat-card-title>
          <mat-card-subtitle>R$ {{ item.product.price }} </mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          (alt)="(item.product.name)"
          (title)="(item.product.name)"
        />
        <mat-card-actions>
          <input type="number" [(ngModel)]="item.amount" min="1" step="1" />
          <button (click)="removeToCart(i)">del</button>
        </mat-card-actions>
      </mat-card>
    </li>
  </ul>
</div>

<div *ngIf="cartItems.length === 0">
  <p>The cart is empty.</p>
</div>
